.account {
  display: flex;
  align-items: center;
  gap: 24px;

  @include tablet {
    gap: 12px;
  }

  a {
    display: inline-block;
    width: 100%;
    transition: all 0.3s ease-in;
  }

  a:hover {
    background-color: $neutral-grayadadad;
  }

  &__menu {
    display: none;
    @include mobile {
      display: block;
    }
  }

  &__person {
    @include mobile {
      display: none;
    }
  }
}
