.footer {
  margin-top: 88px;
  padding: 24px;
  background-color: #000000;

  @include mobile {
    margin-top: 24px;
    padding: 8px 20px;
  }

  &__copyright {
    font-family: $font-family;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    text-transform: capitalize;
    color: $neutral-graycbcbcb;
  }
}
