.header {
  position: relative;
  z-index: 200;
  background-color: $white;
  padding: 16px 0 18px;

  @include mobile {
    padding: 4px 0 8px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__nav {
    margin-left: auto;

    @include mobile {
      display: none;
    }
  }

  &__account--first {
    margin-left: auto;
    margin-right: 24px;

    @include tablet {
      margin-right: 12px;
    }

    @include mobile {
      order: -1;
      margin-left: unset;
    }
  }
}
