.icon {
  fill: transparent;
  stroke: transparent;
  width: 24px;
  height: 24px;
}

.icon--search {
  fill: $black;
}

.icon--person {
  fill: $black;
}

.icon--favorite {
  stroke: $black;
  fill: $white;
}

.icon--bag {
  fill: $black;
}

.icon--menu {
  fill: $black;
}
