.nav {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-transform: capitalize;
  text-align: center;
  color: $neutral-gray404040;

  @include tablet {
    font-size: 16px;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 24px;

  @include tablet {
    column-gap: 15px;
  }

  a.active {
    color: $black;
  }
}
