.top-info {
  padding: 8px 0 7px;
  font-family: $font-family;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.07em;
  text-align: center;
  color: $white;
  background: $primary-primary-600;
}
